.tasks-board-container {
  grid-column: 2/6;
  display: block;
/*  display: flex;*/
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  overflow: auto;
  color: #131313;
  margin-top: 3%;
/*  height: 90%;*/
}

.task-board-stacks {
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  height: 80%;
}

.tasks-board-container h1 {
  text-align: center;
  font-size: 45px;
  margin-left: 2%;
}

.completed-tasks {
  margin-top: -2%;
  margin-left: 77.5%;
}
